{% extends 'todo/base.html' %}


{% block content %}
<h2>To do list!</h2>



<link rel="stylesheet" type="text/css" href="/templates/css/main.css">


<form method="POST" action='/'>
    {% csrf_token %}
  {{ form.title }}
  <button type="submit" class="btn btn-success">+Add</button>
</form>


{% for todo in todos %}
    <div class="container sm left">
       {% if todo.completed == True %}
        <br>
        <span><s>{{ todo }}</s></span>
        
        <a class="btn  btn-sm btn-primary" href="{% url "edit" todo.id %}" role="button">Edit</a>
        <a class="btn  btn-sm btn-danger" href="{% url "delete" todo.id %}" role="button">Delete</a>
            
        {% else %}
        <br>
        <span>{{ todo }}</span>
        <a class="btn btn-sm btn-primary" href="{% url "edit" todo.id %}" role="button">Edit</a>
        <a class="btn btn-sm btn-danger" href="{% url "delete" todo.id %}" role="button">Delete</a>
        {% endif %}



    </div>

{% endfor %}
{% endblock content %}
